<head>
    <title>{{page.title}}</title>
    <meta charset="UTF-8">
    <meta name="description" content="{{page.meta_description}}" />
</head>

<div>

    <h5 class="petAge">Content: {{page.content}}</h5>

</div>